.cabecalho {
    background: transparent;
}

.cabecalho .container {
    display: flexbox;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__titulo {}

.cabecalho__nav {
    display: flexbox;
    justify-content: space-between;
}