.cabecalho {
    background: transparent;
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    padding: 1px 10px;
    height: 70px;
}

.cabecalho__nav {
    display: flexbox;
    justify-content: space-between;
}