.cabecalhoPrincipal {
    background: transparent;
    font-family: 'Poppins', sans-serif;
    padding: 10%;
}

.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal__nav {
    display: flex;
    margin-left: 5%;
}

.cabecalhoPrincipal__nav__link {
    display: flex;
    justify-content: space-between;
    padding: 10%;
}

.rodapePrincipal {
    align-items: center;
    display: flex;
    width: 100%;
}

.rodapePrincipal .container {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.rodapeRedesSociais {
    align-items: center;
    padding-left: 10%;
    width: 5%;
}