.cabecalhoPrincipal {
    background: transparent;
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding: 5% 25% 1% 5%;
}

.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal__nav {
    display: flex;
    margin-left: 5%;
}

.cabecalhoPrincipal__nav__link {
    display: flex;
    justify-content: space-between;
    padding: 10%;
}

.rodapePrincipal {
    align-items: center;
    display: flex;
    width: 100%;
}

.rodapePrincipal .rodapeContainer {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 6% 5% 6%;
}

.rodape__RedesSociais {
    align-items: center;
    margin-left: 10%;
    width: 3%;
}