.principal1{

}

.cabecalhoPrincipal {
    width: 100%;
    height: 100px;
    background: red;
}
.cabecalhoPrincipal__nav {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(192, 174, 171);
    flex-direction: row-reverse;
    position:absolute;
    width: 100%;
    justify-content: center;
}

.cabecalhoPrincipal__nav__link {
    font-family: 'Poppins', sans-serif;
    color: tomato;
    justify-content: space-around;
    padding: 5%;
    width: 30%;
}

.principal__titulo__1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;  
    flex-wrap: wrap; 
    height: 15%;
}

.principal__texto__1 {
    color: rgb(155, 187, 171);
    font-family: 'Poppins', sans-serif;
    font-size: 1.02rem;  
    width: 100%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.principal__imagem__1 {    
    opacity: 80%;
    overflow: unset;
    padding-left: 10%;
    width: 45%;
    box-sizing: border-box;
    border-radius: 1%;
    margin-top: 2%;
    margin-left: 10%;
}

.contato__1 {
    font-family: 'Poppins', sans-serif;
    font-size: .9em;
    color: aliceblue;
    text-align: center;
    margin-bottom: 1.25rem;
}

.contato__titulo__1 {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 1rem;
}


.rodapePrincipal {
    align-items: center;
    display: flex;
    width: 100%;
}

.principal__titulo__1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: bolder;
    margin: 15% 5%;
    display: flex;
}
 .rodapeContainer {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 0 6% 5% 6%;
}

.rodape__RedesSociais {
    align-items: center;
    margin-left: 10%;
    width: 3%;
}